:root{
  --orange: #E76437;
  --red: #E60023;
  --black: #0d0d0d;
  --grey: #9b9b9b;
  --white: #fff;
  --transition: transition: 0.3s ease-in-out;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 90px auto 30px auto;
  font-size: 18px;
  line-height: 24px;
}

section{
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 20px 0;
}

.about-text{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-text_heading{
  font-size: 48px;
  line-height: 68px;
  margin-bottom: 25px;
}

.about-text_body{
  
}

.about-text .btn, #btn2:hover{
  background: var(--orange);
  margin: 10px 0;
}

#btn2:hover{
  color: var(--white);
}

#btn2, .about-text .btn:hover{
  background: var(--black);
  color: var(--orange);
  border: none;
}

.about-img{
  width: 40%;
  height: 300px;
  background: blue;
}