*{
  box-sizing: border-box;
}

:root{
  --orange: #E76437;
  --red: #E60023;
  --black: #0d0d0d;
  --grey: #9b9b9b;
  --white: #fff;
  --transition: 0.3s ease-in-out;
}
ul{
  margin: 0;
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: var(--white);
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 5px 50px;
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
}

.logo-box{
  margin: auto 10px;
}

.logo{
  color: var(--orange);
  transition: var(--transition);
}

.logo:hover{
  color: var(--white);
}
.nav-list{
  display: flex;
}

.nav-item{
  margin: auto 15px;
}

.nav-item.active .nav-link{
  color: var(--white);
}

.nav-link{
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: bold;
  transition: var(--transition);
  color: var(--grey);
}

.nav-link:hover{
  border-bottom: 2px solid var(--white);
  color: var(--white);
  transition: var(--transition);

}

.btn{
  margin: auto 30px auto 50px;
  padding: 10px 17px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--orange);
  transition: var(--transition);
  cursor: pointer;
}

.btn:hover{
  background: var(--orange);
  color: white;
}